{% extends 'base.html' %}
{% block title %}Furriel Digital{% endblock %}

{% block content %}
<div class="flex flex-col items-center w-full">
    <!-- Menu do sistema -->
    <div class="w-full grid grid-cols-2 bg-slate-800 m-auto shadow-md">
        <!-- Menu de filtros de pesquisa -->
        <div class="flex flex-col items-center gap-2 p-2">
            <h1>Filtros de pesquisa</h1>

            <form method="GET" class="text-center space-y-2">
                {% csrf_token %}

                {{ form.rank }}
                
                {{ form.military }}

                {{ form.subunit }}

                {{ form.destination }}

                {{ form.date }}

                <button type="submit"
                    class="bg-green-800 hover:bg-green-600 rounded-md shadow-md p-2 cursor-pointer font-semibold">
                    Pesquisar
                </button>
            </form>
        </div>

        <!-- Menu de gerar relatorio -->
        <div class="flex flex-col items-center gap-2 p-2">
            <h1>Gerar relatórios</h1>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="save_pdf" value="save_pdf"
                    class="bg-blue-800 hover:bg-blue-600 rounded-md shadow-md p-2 cursor-pointer font-semibold">
                    Salvar Relatário
                </button>
            </form>
        </div>
    </div>

    <!-- Lista de dados -->
    <div class="flex flex-col w-full max-w-4xl bg-slate-700 h-[324px] shadow-md mb-4 rounded-b-md overflow-y-auto">
        <table class="text-center w-full">
            <thead class="bg-slate-900 text-sm sticky top-0 z-10">
                <tr>
                    <th class="p-2">PG</th>
                    <th class="p-2">Nome</th>
                    <th class="p-2">Subunidade</th>
                    <th class="p-2">Destino</th>
                    <th class="p-2">Data</th>
                </tr>
            </thead>

            <tbody>
                {% for presence in presences %}
                    <tr class="bg-slate-600 shadow-md">
                        <td class="p-2">{{ presence.military.rank.name }}</td>
                        <td class="p-2">{{ presence.military.name }}</td>
                        <td class="p-2">{{ presence.military.subunit }}</td>
                        <td class="p-2">{{ presence.destination }}</td>
                        <td class="p-2">{{ presence.date|date:"d/m/Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}