{% extends 'base.html' %}
{% block title %}Furriel Digital{% endblock %}

{% block content %}
<div class="flex flex-col items-center w-full">
    <!-- Menu do sistema -->
    <div class="w-full grid grid-cols-2 bg-slate-800 m-auto shadow-md">
        <!-- Menu de filtros de pesquisa -->
        <div class="flex flex-col items-center gap-2 p-2">
            <h1>Filtros de pesquisa</h1>

            <form method="GET" class="text-center space-y-2">
                {% csrf_token %}

                {{ form.rank }}
                
                {{ form.military }}

                {{ form.subunit }}

                {{ form.destination }}

                {{ form.month }}

                <button type="submit"
                    class="bg-green-800 hover:bg-green-600 rounded-md shadow-md p-2 cursor-pointer font-semibold">
                    Pesquisar
                </button>
            </form>
        </div>

        <!-- Menu de gerar relatorio -->
        <div class="flex flex-col items-center gap-2 p-2">
            <h1>Gerar relatórios</h1>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="save_pdf" value="save_pdf"
                    class="bg-blue-800 hover:bg-blue-600 rounded-md shadow-md p-2 cursor-pointer font-semibold">
                    Salvar Relatário
                </button>
            </form>
        </div>
    </div>

    <!-- Lista de dados -->
    <div class="flex flex-col w-full max-w-4xl bg-slate-700 h-[324px] shadow-md mb-4 rounded-b-md overflow-y-auto">
        <div class="text-center">
            {% for date, destinations in gpd_p.items %}
                <p class="w-full bg-slate-950 p-1 text-sm">{{ date|date:"d/m/Y" }}</p>

                {% for destination, presences in destinations.items %}
                    <p class="text-gray-600 w-full bg-slate-900 p-1">{{ destination }}</p>

                    <div class="flex flex-col border-b-2 border-slate-950">
                        {% for p in presences %}
                            <p class="w-full bg-slate-800 p-1 shadow-md">{{ p.military.rank }} {{ p.military.name }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}

            {% endfor %}
        </div>
    </div>
{% endblock %}